@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Mono:wght@500&display=swap');
body{
    background-image:url("photo.jpg");
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Grenze Gotisch', cursive;
    color: #ffffff;
    margin: 0;
}

header{
    font-size: x-large;
    font-style: normal;
    color: #ffffff;
}

#block{
    background: rgba(0, 0, 0, 0.541);
    padding-bottom: 80px;
     border-radius: 80px;
     margin-bottom: 30px;
}

#block:hover{
    background: #00ff00;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    border-radius: 80px;
    box-shadow: 0 0 10px #00f7ff,0 0 100px #00f7ff, 0 0 40px #00f7ff;
    transition-delay: 0.3s;
    color: aqua;
}



#block h2{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}

h1{
    font-size: 50px;
    margin-top: -200px;

}

.countdown-block{
    font-family: 'Roboto Mono', monospace;
}

.countdown-block{
    display:flex;
}

.text{
    font-size: 35px;
    line-height: 1;
    margin:0 40px;
}

.countdown-el {
    text-align: center;
}

.countdown-el span{
    font-size: 20px;
}

#stop_event{
    margin-left: 200px;
    margin-right: 10px;
}

button{
    background: #ffffff34;
    border-radius: 25px;
    border:none;
    font-size: medium;
    overflow:hidden;
    transition: 0.2s;
}

button:hover{
    color:#06b406;
    background: #00ff00;
    box-shadow: 0 0 10px #00ff00,0 0 20px #00ff00, 0 0 40px #00ff00;
    transition-delay: 0.3s;
}

input{
    background: #ffffff34;
    border-radius: 25px;
    border:none;
    font-size: 15px;
    padding: 0px 0px 4px 4px;
}

input:hover{
    background-color: #ffffff;
    box-shadow: 0 0 10px #7700ff,0 0 20px #7700ff, 0 0 40px #7700ff;
    transition-delay: 0.3s;
    color: blueviolet;
}

input:focus{
    background-color: #ffffff;
    padding: 0px 0px 7px 7px;
    box-shadow: 0 0 10px #7700ff,0 0 20px #7700ff, 0 0 40px #7700ff;
    transition-delay: 0.3s;
    color: blueviolet;
}

input:active{
    background-color: #ffffff;
    padding: 0px 0px 7px 7px;
    box-shadow: 0 0 10px #7700ff,0 0 20px #7700ff, 0 0 40px #7700ff;
    transition-delay: 0.3s;
    color: blueviolet;
}

button:hover{
    background-color: #ffffff;
}

button:active{
    background-color: #ffffff;
}